<!DOCTYPE html>
<html>
  <head>
    <title>SecurityEvaluator</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width,initial-scale=1"><%= csrf_meta_tags %><%= csp_meta_tag %><%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %><%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <style>
      body {
        font-family: "Times New Roman", Georgia, Serif;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
      }
    </style>
  </head>
  <body>
  <br>
  <br>
  <br>
<div>
<h1>Frequently Asked Questions:</h1>
 <br>
  <h6>How long does it take to reply to the messages on the contact form?</h6>
  <p>
    We try to respond within 2-3 days about doing an expert analysis of the problem.
     </p>
 
  <br>

  <h6>How accurate is the result after the evaluation is performed?</h6>
  <p>
    Since this is not a funded project for now the website only scans one social media which is wikipedia, therefore using wikipedia the result evaluation is only 50-60% accurate but we hope to grow our application someday and get export permissions from big social media companies for better results.
  </p>

  <br>

  <h6>How is user information stored?</h6>
  <p>
    Please read our privacy guidelines to know how the user information is stored and used.
  </p>
 <br>

  <h6>What about security while using other updated password recovery tools instead of security questions?</h6>
  <p>
   For now our application only works for security questions but in the future we will aim to perform an evaluation for other password recovery methods as well to show how secure they are. 
  </p>


 
</div>
 </body>
</html>