<!DOCTYPE html>
<html>
  <head>
    <title>SecurityEvaluator</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width,initial-scale=1"><%= csrf_meta_tags %><%= csp_meta_tag %><%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %><%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <style>
      body {
        font-family: "Times New Roman", Georgia, Serif;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
      }
    </style>
  </head>
  <body>
  <br>
  <br>
  <br>

<h1> Specifications of our Website:</h1>
<ul>

  <li>The user can contact us to ask any questions or doubts regarding privacy via our contact form.</li>
  
  <br><li>The user can enter their details including their wikipedia url and select a question and answer for evaluation.</li>
   
  <br><li>The website exports user's online available data.</li>
  
  <br><li>Further, the online available data is scanned with the user information using a set of algorithms.</li>
  
  <br><li>After comparision the website provides results to the user showing how secure is their selected question and answer for them.</li>
</ul>


  
 </body>
</html>